{% extends "base.html" %}

{% block title %} Eye Tracker {% endblock %}

{% block menu %}
    {% include 'menu.html' with active_menu='tracker' %}
{% endblock %}

{% block page_title %} Eye Tracker Settings {% endblock %}

{% block actions %}
    <a class="btn btn-primary" href="{% url 'tracker:update_tracker' %}" role="button"><i class="glyphicon glyphicon-edit"></i> Update</a>
    <a class="btn btn-success" href="{% url 'tracker:record_tracker' %}" role="button"><i class="glyphicon glyphicon-play"></i> Record</a>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <td><strong>Ip</strong></td>
            <td>{{ object.ip }}</td>
        </tr>
        <tr>
            <td><strong>Port</strong></td>
            <td>{{ object.port }}</td>
        </tr>
    </table>
{% endblock %}