{% extends "base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block title %} View Statistics {% endblock %}

{% block actions %}
    <a class="btn btn-success" href="{% url 'statistics:charts_levels' %}" role="button"><i class="fa fa-bar-chart"></i> Compare Levels</a>
{% endblock %}

{% block menu %}
    {% include 'menu.html' with active_menu='statistics' %}
{% endblock %}

{% block page_title %} View Statistics {% endblock %}

{% block content %}
    {% include 'statistics/statistic_search.html' %}
    {% render_table table "statistics/statistic_tfoot.html" %}
{% endblock %}