# Install all packages
# pip install -r requirements.txt
# pip install packages/django-bootstrap3
# pip install packages/django-tables2


Django==1.8.4
django-debug-toolbar==1.3.2


# Test
autopep8==1.2.1
flake8==2.4.1
coverage==4.0
