{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %} Manage Participants {% endblock %}

{% block menu %}
    {% include 'menu.html' with active_menu='participants' %}
{% endblock %}

{% block page_title %} Manage Participants {% endblock %}

{% block actions %}
    <a class="btn btn-success" href="{% url 'participants:create' %}" role="button"><i class="glyphicon glyphicon-plus"></i> Create</a>
{% endblock %}

{% block content %}
    <div class="container-fluid well">
        <div class="col-lg-3">
            <p>Mean = {{ view.mean }}</p>
        </div>
        <div class="col-lg-3">
            <p>SD = {{ view.sd }}</p>
        </div>
        <div class="col-lg-3">
            <p><i class="fa fa-male"></i> = {{ view.male }}</p>
        </div>
        <div class="col-lg-3">
            <p><i class="fa fa-female"></i> = {{ view.female }}</p>
        </div>
    </div>
    {% render_table table "table.html" %}
{% endblock %}
