{% extends "base.html" %}
{% load staticfiles %}

{% block head_files %}
    <link rel="stylesheet" href="{% static 'aoi2/css/plugins/slick/slick.css' %}"/>
    <link rel="stylesheet" href="{% static 'aoi2/css/plugins/slick/slick-theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'aoi2/css/aoi.css' %}">
{% endblock %}

{% block title %} Draw Areas of Interest {% endblock %}

{% block menu %}
    {% include 'menu.html' with active_menu='aoi' %}
{% endblock %}

{% block page_title %} Draw Areas of Interest  EEEEEE {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="slider">
                {% for photo in photos %}
                    <div class='photo'>
                      <img id='{{ photo.id }}' class="img-slider" width="auto" height="93px" src="{{ MEDIA_URL }}{{ photo.resized_image }}">
                      <h6>{{ photo.original_name }}</h6>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
         <div class="col-xs-2 col-md-2 well tools-aoi" >
             <div>
                <label>Draw</label><br>
                <button id="btn-rectangle" type="button" class="btn btn-default btn-lg fa fa-square tooltip-btn" data-toggle="tooltip" data-placement="top" data-original-title="Rectangle"></button>
                <button id="btn-ellipse" type="button" class="btn btn-default btn-lg fa fa-circle tooltip-btn" data-toggle="tooltip" data-placement="top" data-original-title="Ellipse"></button>
             </div>
             <div>
                 <label>Select</label><br>
                 <button id="btn-move" type="button" class="btn btn-default btn-lg fa fa-arrows tooltip-btn" data-toggle="tooltip" data-placement="top" data-original-title="Move"></button>
                 <button id="btn-delete" type="button" class="btn btn-danger btn-lg fa fa-trash tooltip-btn" data-toggle="tooltip" data-placement="top" data-original-title="Delete"></button>
             </div>
         </div>

         <div id="canvas-image" class="col-xs-10 col-md-10">
             <canvas id="canvas"></canvas>
         </div>
{##}
{#        <div style="width: 50%">#}
{#            <canvas id="canvas3" height="450" width="600"></canvas>#}
{#        </div>#}

    </div>
{% endblock %}

{% block body_files_min %}
    <script src="{% static 'aoi2/js/plugins/fabric/fabric.min.js' %}"></script>
    <script src="{% static 'aoi2/js/plugins/slick/slick.min.js' %}"></script>
{#    <script src="{% static 'aoi/js/plugins/chart/Chart.min.js' %}"></script>#}
{% endblock %}

{% block body_files %}
    <script src="{% static 'aoi2/js/aoi2.js' %}"></script>
{#    <script src="{% static 'aoi/js/plugins/chart/Chart.js' %}"></script>#}
    <script>
        slider('.slider');
        startCanvas('#canvas-image', 'canvas', '{{ first_image }}');
        changeImage('.img-slider', '{% url 'aoi:image' %}');
{##}
{#        var randomScalingFactor = function(){ return Math.round(Math.random()*100)};#}
{##}
{#        var barChartData = {#}
{#            labels : ["January","February","March","April","May","June","July"],#}
{#            datasets : [#}
{#                {#}
{#                    fillColor : "rgba(220,220,220,0.5)",#}
{#                    strokeColor : "rgba(220,220,220,0.8)",#}
{#                    highlightFill: "rgba(220,220,220,0.75)",#}
{#                    highlightStroke: "rgba(220,220,220,1)",#}
{#                    data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]#}
{#                },#}
{#                {#}
{#                    fillColor : "rgba(151,187,205,0.5)",#}
{#                    strokeColor : "rgba(151,187,205,0.8)",#}
{#                    highlightFill : "rgba(151,187,205,0.75)",#}
{#                    highlightStroke : "rgba(151,187,205,1)",#}
{#                    data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]#}
{#                }#}
{#            ]#}
{##}
{#        }#}
{#        window.onload = function(){#}
{#            var ctx = document.getElementById("canvas3").getContext("2d");#}
{#            window.myBar = new Chart(ctx).Bar(barChartData, {#}
{#                responsive : true#}
{#            });#}
{#        }#}
    </script>
{% endblock %}