{% extends "base.html" %}
{% load staticfiles %}
{% comment %}
{% load render_table from django_tables2 %}
{% endcomment %}

{% block head_files %}
    <script src="{% static 'js/plugins/fabric/fabric.min.js' %}"></script>
{% endblock %}

{% block title %} Manage AOIs {% endblock %}

{% block menu %}
    {% include 'menu.html' with active_menu='aoi' %}
{% endblock %}

{% block page_title %} Manage AOIs {% endblock %}

{% comment %}
{% block actions %}
    <a class="btn btn-success" href="{% url 'aoi:create' %}" role="button"><i class="glyphicon glyphicon-plus"></i> Create</a>
{% endblock %}
{% endcomment  %}

{% block content %}
    {% comment %}
    {% render_table table "table.html" %}
    {% endcomment %}
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>

     <div class="row">
         <div class="col-lg-2" >
             <label>Draw</label><br>

             <button type="button" class="btn btn-default btn-lg fa fa-square"></button>
             <button type="button" class="btn btn-default btn-lg fa fa-circle"></button>
             <br><br>

             <label>Select</label><br>

             <button type="button" class="btn btn-default btn-lg glyphicon glyphicon-hand-up"></button>
             <button type="button" class="btn btn-default btn-lg glyphicon glyphicon-trash"></button>
         </div>

         <div class="col-lg-10">
             <canvas id="canvas" width="1024" height="768" style="border:1px solid #000000;"></canvas>
         </div>
     </div>

{% endblock %}

{% block body_files %}

    <script>
        // create a wrapper around native canvas element (with id="c")
        
        var canvas = new fabric.Canvas('canvas');

        canvas.setBackgroundImage('http://2.bp.blogspot.com/-LOMh7QaPmjo/UaPqL0K9y6I/AAAAAAAAGjc/rOYfnBnmIYY/s1600/DotA_LoD_Preview1.png', canvas.renderAll.bind(canvas));

        canvas.on('mouse:down', function (option) {
            console.log("down");
            if (typeof option.target != "undefined") {
                return;
            } else {
                var startX = option.e.offsetX,
                    startY = option.e.offsetY;

                var ellipse = new fabric.Ellipse({
                    rx: 20,
                    ry: 20,
                    left: startX,
                    top: startY,
                    originX: 'center',
                    originY: 'center',
                    fill : 'white',
                    stroke: 'grey',
                    strokeWidth: 1.5,
                    opacity: 0.6,
                    cornerColor: 'white',
                    cornerSize: 10,
                    hasRotatingPoint: false,
                    hasBorders: false
                });

                var text = new fabric.Text('AOI', {
                    fill: 'black',
                    left: startX,
                    top: startY,
                    originX: 'center',
                    originY: 'center'
                });

                var group = new fabric.Group([ ellipse, text ], {
                    left: startX,
                    top: startY
                });

                canvas.add(group);

                canvas.on('mouse:move', function (option) {
                    var e = option.e;
                    group.set('width', (e.offsetX - startX));
                    group.set('height', (e.offsetY - startY));

                    group.item(0).set({
                        rx: group.get('width')/2,
                        ry: group.get('height')/2
                    });

                    group.item(1).set({
                        scaleX:.5,
                        scaleY:.5
                    });

                    group.setCoords();
                });
            }
        });

        canvas.on('mouse:up', function () {
            canvas.off('mouse:move');
        });

        canvas.on('mouse:over', function(e) {
            e.target._objects[0].setFill('grey');
            canvas.renderAll();
        });

        canvas.on('mouse:out', function(e) {
            e.target._objects[0].setFill('white');
            canvas.renderAll();
        });
    </script>
{% endblock %}