{% extends "base.html" %}
{% load staticfiles %}

{% block head_files %}
    <link rel="stylesheet" href="{% static 'aoi/css/plugins/slick/slick.css' %}"/>
    <link rel="stylesheet" href="{% static 'aoi/css/plugins/slick/slick-theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'aoi/css/aoi.css' %}">
{% endblock %}

{% block title %} Draw Areas of Interest {% endblock %}

{% block menu %}
    {% include 'menu.html' with active_menu='aoi' %}
{% endblock %}

{% block page_title %} Draw Areas of Interest {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="slider">
                {% for photo in photos %}
                    <div class='photo'>
                      <img id='{{ photo.id }}' class="img-slider" width="auto" height="93px" src="{{ MEDIA_URL }}{{ photo.resized_image }}">
                      <h6>{{ photo.original_name }}</h6>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
         <div class="col-xs-2 col-md-2 well tools-aoi" >
             <div>
                <label>Draw</label><br>
                <button id="btn-rectangle" type="button" class="btn btn-default btn-lg fa fa-square tooltip-btn" data-toggle="tooltip" data-placement="top" data-original-title="Rectangle"></button>
                <button id="btn-ellipse" type="button" class="btn btn-default btn-lg fa fa-circle tooltip-btn" data-toggle="tooltip" data-placement="top" data-original-title="Ellipse"></button>
             </div>
             <div>
                 <label>Select</label><br>
                 <button id="btn-move" type="button" class="btn btn-default btn-lg fa fa-arrows tooltip-btn" data-toggle="tooltip" data-placement="top" data-original-title="Move"></button>
                 <button id="btn-delete" type="button" class="btn btn-danger btn-lg fa fa-trash tooltip-btn" data-toggle="tooltip" data-placement="top" data-original-title="Delete"></button>
             </div>
         </div>

         <div id="canvas-image" class="col-xs-10 col-md-10">
             <canvas id="canvas"></canvas>
         </div>
    </div>
{% endblock %}

{% block body_files_min %}
    <script src="{% static 'js/plugins/fabric/fabric.min.js' %}"></script>
    <script src="{% static 'aoi/js/plugins/slick/slick.min.js' %}"></script>
{% endblock %}

{% block body_files %}
    <script src="{% static 'aoi/js/aoi.js' %}"></script>
    <script>
        slider('.slider');
        startCanvas('#canvas-image', 'canvas', '{{ first_image }}');
        changeImage('.img-slider', '{% url 'aoi:image' %}');
    </script>
{% endblock %}