{% extends "base.html" %}

{% block title %} View Image {% endblock %}

{% block menu %}
    {% include 'menu.html' with active_menu='images' %}
{% endblock %}

{% block page_title %} View Image {% endblock %}

{% block actions %}
    <a class="btn btn-primary" href="{% url 'images:update_image' object.id %}" role="button"><i class="glyphicon glyphicon-edit"></i> Update</a>

    <form class="form-inline" method="POST" action="{% url 'images:delete_image' object.id %}">
        {% csrf_token %}
        <button onclick="return confirm('Are you sure you want to delete?')" type="submit" class="btn btn-danger tooltip-btn" data-toggle="tooltip" data-placement="top" data-original-title="Delete">
            <i class="glyphicon glyphicon-trash"></i> Delete
        </button>
    </form>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <td><strong>Photo</strong></td>
            <td><img class="img-responsive" alt="{{ object.name }}" src="{{ MEDIA_URL }}{{ object.image }}"></td>
        </tr>
        <tr>
            <td><strong>Name</strong></td>
            <td>{{ object.original_name }}</td>
        </tr>
        <tr>
            <td><strong>Size</strong></td>
            <td>{{ object.size }}</td>
        </tr>
        <tr>
            <td><strong>Resolution</strong></td>
            <td>{{ object.width }} x {{ object.height }}</td>
        </tr>
    </table>
{% endblock %}

{% block body_files %}
    <script>$(document).ready(ready_detail("{{ csrf_token }}" ,"{% url 'images:index_images' %}"));</script>
{% endblock %}