{% extends "base.html" %}

{% block title %} Eye Tracker {% endblock %}

{% block menu %}
    {% include 'menu.html' with active_menu='tracker' %}
{% endblock %}

{% block page_title %} Create Eye Tracker Settings {% endblock %}

{% block content %}
    {% include "form.html" %}
{% endblock %}

{% block body_files %}
    <script>
        $(document).ready(function() {

            {% if messages %}
                {% for message in messages %}
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'slideDown',
                        timeOut: 4000
                    };
                    title_message = "{{ message.tags }}";
                    toastr["{{ message.tags }}"]('{{ message }}', title_message.toUpperCase());
                {% endfor %}
            {% endif %}

        });
    </script>
{% endblock %}