{% extends "base.html" %}

{% block title %} Eye Tracker {% endblock %}

{% block menu %}
    {% include 'menu.html' with active_menu='tracker' %}
{% endblock %}

{% block page_title %} Record {% endblock %}

{% block content %}
    {% if tracker_state == 0 %}
        <p class="bg-success">Tracker device is detected and working</p>
    {% elif tracker_state == 1 %}
        <p class="bg-danger">Tracker device is not detected</p>
    {% elif tracker_state == 2 %}
        <p class="bg-warning">Tracker device is detected but not working due to wrong/unsupported firmware</p>
    {% elif tracker_state == 3 %}
        <p class="bg-warning">Tracker device is detected but not working due to unsupported USB host</p>
    {% elif tracker_state == 4 %}
        <p class="bg-warning">Tracker device is detected but not working due to no stream could be received</p>
    {% endif %}
    {% include "form.html" with name_button='start' %}
{% endblock %}

{% block body_files %}
    <script>
        $(document).ready(function() {

            {% if messages %}
                {% for message in messages %}
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'slideDown',
                        timeOut: 4000
                    };
                    title_message = "{{ message.tags }}";
                    toastr["{{ message.tags }}"]('{{ message }}', title_message.toUpperCase());
                {% endfor %}
            {% endif %}

        });
    </script>
{% endblock %}